
.container {
    display: block;
    margin: 0 auto;
    font-family:'Open Sans';
}

.header {
    background-color: #455a64;
    color: #fafafa;
    height: 50px;
    padding: 0.5rem;

    h1 {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }
}

.input-label{
    width:100%;
    text-align:left;
    font-size:1rem;
}


.input-round {
    position:relative;
    padding:0.85em 1.5em;
    border-radius:50px;
    border:none;
    margin: 0 auto;
    font-weight:bold;
    user-select: none;
}

.input {
    display:block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    

    .button {
        position:relative;
        margin:0 auto;
    }
}

.main-app {
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 3px 0.75px 0.75px lightgrey;
    padding: 1rem;
    width: 60%;
    background-color: #b0bec5;
    margin: 0 auto;
}
.icon-button {
    :hover{
        cursor: pointer;
        color:#f44336;
    }
    margin:1rem;
}